const os = require('os');
module.exports = {
  platform: os.type() === 'Linux' ? 'linux' : (os.type() === 'Darwin' ? 'macos' : 'windows'),
  interface: process.env.TERM === 'xterm-256color' ? 'blessed' : 'simple',
  exchange: 'coinbase',
  pool: 'nicehash',
  miners: {
    // Comment out to disable a miner
    'ccminer-tpruvot': {
      path: '../ccminer/ccminer'
    },
    'ccminer-sp-mod': {
      path: '../ccminer-sp-mod/ccminer'
    },
    'ccminer-klaust': {
      path: '../ccminer-klaust/ccminer'
    },
    'nheqminer': {
      path: '../nheqminer/build/nheqminer'
    }
  },
  benchmarkSeconds: 60,
  coinbaseApiKey: 'xxx',
  coinbaseApiSecret: 'xxx',
  nicehashApiId: '1234',
  nicehashApiKey: 'xxxx-xxxx-xxxx-xxxx-xxxx',
  username: 'address.worker'
};